<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <remove name="loggingConfiguration" />
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" requirePermission="true" />
  </configSections>

  <loggingConfiguration configSource="Configs\loggingConfiguration.config" />
  
  <connectionStrings>
    <!-- Diagnostics Settings -->
    <add name="Microsoft.IT.Licensing.Diagnostics.DatabaseServer" providerName="System.Data.SqlClient" connectionString="Server=pfstressrpt.parttest.extranettest.microsoft.com;Database=ECITLogging;Trusted_Connection=True;Asynchronous Processing=true;" />
    <!-- END Diagnostics -->
  </connectionStrings>


  <appSettings>
    <add key="UmServiceUrl" value="http://localhost/User/api" />
    <!--<add key="UmServiceUrl" value="https://aglecitosawb101.redmond.corp.microsoft.com/UMWebAPI/api"/>-->
    <!-- UM End Points -->
    <add key="IsDomainAvailableUri" value="/Tenant?DomainName={0}" />
    <add key="RegisterUserUri" value="/Tenant" />
    <add key="GetTenantAgreementsUri" value="/Tenant/{0}/Agreements" />
    <add key="CreateTenantMapUri" value="/Tenant/{0}/Agreements/{1}?SkipEligibilityCheck={2}&amp;ProgramCode={3}" />
    <add key="GetAgreementUri" value="/Tenant/Agreement?authorizationNumber={0}&amp;licensingId={1}&amp;organization={2}" />
    <add key="LicensingTermsAcceptedUri" value="/Users/{0}/Acknowledgement" />
    <add key="AcceptLicensingTermsUri" value="/Users/{0}/Acknowledgement" />
    <add key="AddUserToTenantUri" value="/Tenant/{0}/User" />
    <add key="GetRegisteredDomainsUri" value="/Tenant/{0}/Domains" />
    <add key="GetExistingUsersUri" value="/Tenant/{0}/Users" />
    <add key="GetSubscriptionsUri" value="/Tenant/{0}/Subscriptions?localeId={1}" />
    <add key="ActivateUserSubscriptionUri" value="/Tenant/{0}/Subscription" />
    <add key="AddUser" value="/Users/{0}" />
    <add key="UpdateUser" value="/Users/{0}" />
    <add key="GetCountriesUri" value="/Tenant/Locale" />
    <add key="GetAgreementTypesUri" value="/Agreements/Acknowledgement/AgreementTypes" />
    <add key="GetAgreementTypeCountriesUri" value="/Agreements/Acknowledgement/Countries/{0}" />
    <add key="GetUserUri" value="/Users/{0}" />

    <add key="VlscStringEncryptionCertificateKey" value="ba69e0a50dd1fae34dfc36badd5798d95fbcd9dc" />
  </appSettings>
  
  <runtime>
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                 <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                 <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                 <assemblyIdentity name="Microsoft.Practices.Unity.Interception" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                 <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                 <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                 <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
            </dependentAssembly>
       </assemblyBinding>
  </runtime>
  
</configuration>