<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AttractionsEntities" connectionString="metadata=res://*/AttractionsModel.csdl|res://*/AttractionsModel.ssdl|res://*/AttractionsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mssql08.sys10.hostasp.net;initial catalog=Koukia;persist security info=True;user id=Aram;password=Zereshk@61;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>